<!DOCTYPE html>
<html>
	<head>
        <title>Notes de Géopolitique</title>
        <meta charset="UTF-8" />
        <script src="/lib/jquery.js"></script>
        <script src="/lib/jquery-ui/jquery-ui.js"></script>
        <script src="/lib/raphael-min.js"></script>
   			<script src="/js/monde.js"></script>
        <link rel="stylesheet" href="/Bootstrap-4/css/bootstrap.css">
        <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.js"></script>
        <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/components/navbar.css">
        <link rel="stylesheet" href="/css/components/article.css">
	</head>
	  <body>
      <% include shared/navbar %>
		  <div class="container">
        <div class="entry-header space-top">
          <h1 class="entry-title"><%= article.title %></h1>
          <div class="entry-meta">
            <p>Courrier International N°<%= article.number %>, <%= article.released.format("DD MMMM YYYY") %></p>
          </div>
        </div>
				<div class="entry-content">
					<p><%= article.content %></p>
					<br>
					<p><em><a href="<%= article.source.url %>"><%= article.source.nom %></a></em>, <%= article.source.city %></p>
				</div>
				<a href="/pays/<%= article.pays.url %>" class="btn btn-primary">Retour Pays</a>
      </div>
	  </body>
</html>
